**Variables**

- variables are used to store the values
- Variables can change their values
- varyyyy:varing

In [3]:
number=100
number

#100 is store in a variable called 'number'

100

In [5]:
number=200
number

200

Ajay is learning python code mode is used to write the code markdown mode is used to write the story

square brackets are there before cell:code mode esc+m

In [8]:
ajay=500
#500 is a value stored in a variable ajay

In [10]:
ajay=50000
ajay

50000

In [12]:
ajay=5000000
ajay

5000000

In [14]:
ajay1=25000
ajay1
#type aj
#enter tab
#you can see the names which are starting with 'aj'

25000

In [16]:
archana=100

In [18]:
NUMBER=200
NUMBER

200

In [20]:
NUMber=300
NUMber

300

In [22]:
number123=400
number123

400

In [26]:
123number=500
123
#variables does not have numbers as prefix
#variables should not starts with numbers

SyntaxError: invalid decimal literal (2863714758.py, line 1)

In [32]:
Number*one=500
Number*one
#variables does not have special characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (609003844.py, line 1)

In [34]:
number_one=600
number_one

600

In [36]:
_=900
_
#only underscore can represent as variables

900

- Variables sre case sensitive
- Variables can represent as capital letters
- Variables can represent as small letters
- Variables can have both combinations
- Python will consider latest value
- Variables does not starts with numbers
- Variables can have numbers at last
- Variales does not contains any special characters except Underscore
- Variables does not contains any space between the letters : number one
- Only underscore can use as variables
- Keywords or reserved words will not use Variables :if,else

In [39]:
number_123_two=900
number_123_two

900