**Print statments**

- print is a inbulit function , to see the answer 
- in jupyter notebook we can see lates value with out using print
- if you want to see all the value we need to use print
- In VScode ,python there is no markdoun option
- if want to see any answer,we need to use print statement

In [3]:
num1=100
num2=200
num1
num2

200

In [4]:
num1=100
num2=200
print(num1)
print(num2)

100
200

In [6]:
num1=100
num2=200
print(num1,num2)
print(10,20,30)
print('hello')
print('hello','bye')
print('hello','bye',num1,num2,10,20)

100 200
10 20 30
hello
hello bye
hello bye 100 200 10 20

In [13]:
str1="hello"
print(str1)

hello

In [15]:
if True:
    print(10)

10

In [19]:
a=10
b=20
c=a+b

In [33]:
c
# The addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of a and b is c")
print("The addition of",a, "and",b, 'is',c)

The addition of 10 and 20 is 30
The addition of a and b is c
The addition of 10 and 20 is 50

In [41]:
a=100
b=200
c=a+b
c
# The addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of a and b is c")
print('The addition of',a,"and",b,'is',c)

The addition of 10 and 20 is 30
The addition of a and b is c
The addition of 100 and 200 is 300

In [47]:
#Name='ajay'
#Age='20'
#City='Hyd'
# My name is ajay , Im 20 years old and came from Hyd
name='ajay'
age=20
city='Hyd'
print("My name is ajay, Im 20 years old and I came from Hyd")
print("My name is", name,',',"Im", age, "years old and I came from",city)

My name is ajay, Im 20 years old and I came from Hyd
My name is ajay , Im 20 years old and I came from Hyd

**Format method**

In [49]:
a=10
b=20
c=a+b
# How you want to write the print
# the addition of 10, 20 is 30
print("The addition of 10,20 is 30")
print("The addition of {},{} is {}")
print("The addition of {},{} is {}".format(a,b,c))

The addition of 10,20 is 30
The addition of {},{} is {}
The addition of 10,20 is 30

In [53]:
name='ajay'
age=20
city='Hyd'
print("My name is ajay, Im 20 years old and I came from Hyd")
print("My name is {}, Im {} years old and I came from {}".format(name,age,city))
print("My name is {}, Im {} years old and I came from {}".format(city,age,name))

My name is ajay, Im 20 years old and I came from Hyd
My name is ajay, Im 20 years old and I came from Hyd
My name is Hyd, Im 20 years old and I came from ajay

In [57]:
# Take two number 
# add
#mul
#sub
#div
#n1=<number one>
# n2=<number two>
# add=<>
# sub=<>
# mul=<>
# div=<>
# the addition of n1 and n2  is add
# the subtraction of n1 and n2 is sub

In [59]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print("The addition of {} and {} is {}".format(n1,n2,add))
print("The subtraction of {} and {} is {}".format(n1,n2,sub))
print("The multuplication of {} and {} is {}".format(n1,n2,mul))
print("The division of {} and {} is {}".format(n1,n2,div))

The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multuplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

**F-string method**

In [36]:
a=10
b=20
c=a+b
# How you want to write the print
# the addition of 10,20 is 30
print("The addition of 10,20 is 30")
print("The addition of {},{} is {} ")
print("The addition of {a},{b} is {c} ")
print(f"The addition of {a},{b} is {c} ")

The addition of 10,20 is 30
The addition of {},{} is {}
The addition of {a},{b} is {c}
The addition of 10,20 is 30

In [64]:
name='python'
age=10
city='Hyd'
print("My name is python, Im 10 years old and I came from Hyd")
print("My name is", name,',',"Im", age, "years old and I came from",city)
print("My name is {}, Im {} years old and I came from {}".format(name,age,city))
print(f"My name is {name}, Im {age} years old and I came from {city}")

My name is python, Im 10 years old and I came from Hyd
My name is python , Im 10 years old and I came from Hyd
My name is python, Im 10 years old and I came from Hyd
My name is python, Im 10 years old and I came from Hyd

In [66]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print(f"The addition of {n1} and {n2} is {add}")
print(f"The subtraction of {n1} and {n2} is {sub}")
print(f"The multuplication of {n1} and {n2} is {mul}")
print(f"The division of {n1} and {n2} is {div}")
# The addition is add,The subtraction is sub,The multiplication mul, the divisio

The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multuplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

In [80]:
print(f"The addition is {add},The subtraction is {sub},The multiplication {mul},The division is {div}")

The addition is 300,The subtraction is -100,The multiplication 20000,The division is 0.5

**end**

In [83]:
print(10)
print(20)
# Using two print statments
# we need to write 10,20

10
20

In [85]:
print(10,20)

10 20

In [87]:
print(10,end=' ')
print(20)

10 20

In [93]:
print(10,end='-->')
print(20)

10-->20

In [95]:
print(10,end='-->')
print(20,end='-->')
print(30)

10-->20-->30

**SEP**

In [98]:
# using one print statement
# 10-->20-->30
# print(10,'-->',20,'-->')
# Sepearting the all values inside print statements

In [100]:
print(10,20,30,sep='-->')
print(10,20,30,sep='*')

10-->20-->30
10*20*30

In [102]:
# 10+20=30
print(10,end='+')
print(20,end='=')
print(30,'.',sep='')

10+20=30.

In [104]:
print(10,20,sep='+',end='=')
print(30)

10+20=30

- Format method
- F string method
- sep
- end

In [107]:
name='ajay'
print("my name is ajay")
print("my name is {}".format(name))

my name is ajay
my name is ajay

In [109]:
# Sepearting the all values inside print statement
# end will join the multiple print statement values
print(10,end=' ')
print(20)

10 20

In [116]:
print(10,20,sep='ajay')

10ajay20