**DataTypes**

- In python we have many data types are there
   - Integer
   - Float
   - String
   - Boolean

**Integer**

- in python no need to mention a data type like c
- it will consider the data type automatically

In [2]:
number=100
# in other to check the type of veribles we will use 
# in built function calles as type

In [4]:
type(number)

int

In [19]:
type(100)

int

- in maths we have different type of representation available
- the following number system are: 
- binary
- octa
- Decimal
- hexa

**Binary**

- Benary has bi which indicats two
- we have total 0 to 9 digitsbto represnt any number
- from there we will take only fisrt two digits i.e.0 and 1

- Example:0b101,0b0001
- Wrong represents is:0b002,1b001

In [15]:
num=0b001
num

1

In [19]:
0b1111

15

4 2 1 num
0 0 0 0
0 0 1 1
0 1 0 2
0 1 1 3
1 0 0 4
1 0 1 5
1 1 0 6  #0b110=6
1 1 1 7  #0b111=7

**octa**

- Octa means 8
- we have total 0 to 9 digits to represnt any number: 0,1,2,3,4,5,6,7,8,9
- frmao there we will take only starting 8 digits i.e.0 to 7
- Example : 0o123 , 0o567 ,0o10006
- wrong representation is :0o786 because 7,6 but 8

In [4]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

- A good develope will understand the error easily 
- almost we will get 20 types
- we will focus both on output as well as errors

In [26]:
0o123

83

In [28]:
0o456

302

**Hexa**

- Hexa means 16
- we have total 0 to 9 digits to represnt any number: 0,1,2,3,4,5,6,7,8,9
- After 9 we will use  A to FA:10,B:11,C:12,D:13,E:14,F:15
- Example : 0x123,0XABC,0x9ad
- wrong representation is:0xFGH

In [32]:
0xabc

2748

In [34]:
0xab9 #2898

2745

In [36]:
0Xb52

2898

**Float**

In [10]:
num=10.5
type(num)

float

In [12]:
type(10);type(10.5)
(int,float)

(int, float)

In [14]:
10e1 # 10* <10> =100
10e2 #10* <100> =1000
10e3 #10* <1000> =10000
10e4 #10* <10000> =100000

100000.0

In [16]:
10
20
# in juputer note book by default last value will print

20

In [22]:
# if you want to see all the answere  apply print
print(10)
print(20)

10
20

In [24]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)

100.0
1000.0
10000.0
100000.0

In [28]:
10e+1,10e+2,10e+3

(100.0, 1000.0, 10000.0)

In [32]:
10E2

1000.0

In [ ]:
10e-1 # 10/<10> =1
10e-2 # 10/<100> =0.1
10e-3 # 10/<1000> =0.01

In [40]:
print(10e-1)
print(10e-2)
print(10e-3)

1.0
0.1
0.01

- In the machine learning we often see the value in exponential format
- in some cases we need to search for zero value 
- in ML with python we rerely see exatct an answer 0.0
- instead of 0.0 it will display as 1,2345e-17

In [44]:
7.74619736e-4

0.000774619736

In [ ]:
1.23456e-17
1.2345/1000000000000000=0.000000000000012345

**Strings**

- strings represents english charecter generlly
- strings will respresnt with quotes
- singel quotes 
- double quotes
- triple qouutes

In [38]:
str1='ajay chavan' #singel quotes
str1

'ajay chavan'

In [40]:
type(str1)

str

In [44]:
str2='ajay chavan' #double qoute
str2

'ajay chavan'

- we can represent in any way but python will give in singel quoutes

In [51]:
print(str1)
print(str2)

NameError: name 'str1e' is not defined

- when we apply print on strings .it will display with out quotes

In [56]:
str3='abc123'
type(str3)

str

In [59]:
type (10),type('10.5'),type('123'),type('apple')

(int, str, str, str)

- any data type or any value is provided by qoutes means
- it become a string only 
- strings always in Red color
- veribles always in black color
- keywords or number always in Green color

In [62]:
ajay='ajay'
# 'ajay' is a english letter stored in a varibles name called ajay

In [63]:
str1="I like 'ajay'"
print(str1)

I like 'ajay'

In [65]:
str1='I like "ajay"'
print(str1)

I like "ajay"

- if you want to highlite any word
- represent entrir string in singel quoates,highlite word in douable quotes vice versa

In [ ]:
hai 
how are you

In [68]:
str1='hai
    how are you 
    im goog'

SyntaxError: unterminated string literal (detected at line 1) (1436019457.py, line 1)

In [72]:
str1="hai
    how are you
     im good"

SyntaxError: unterminated string literal (detected at line 1) (4108345496.py, line 1)

In [74]:
str1="""hai
    how are you
    im good"""
str1

'hai\n    how are you\n    im good'

In [76]:
print(str1)

hai
    how are you
    im good

- triple qoutes is used for write a multipline comments 
- this is called as **docstring**
- in order to write a story in jupyetr nootbook we have a markdown
- but other platform like VScode ,pycharm we dont have a markdoun
- then how can we write a story:by using triple quoutes

**BOOLEAN**

- computer takes the value in binary format(1.0)
- computer Given the answer in Boolean formate
- true
- false
- true indicates 1
- false indicates 0

In [76]:
val=True
type(True)

bool

In [78]:
val1=False
type(val1)

bool

In [81]:
true='True'
TRUE=True

true,TRUE # two are veriables

('True', True)

In [83]:
type(true),type(TRUE)

(str, bool)

In [ ]:
a=1o
b=10.5
c='10'
d=True